HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### 로컬 전용 파일 ###
src/main/java/com/shop/config/WebMvcConfig.java
src/main/java/com/shop/controller/ThymeleafExController.java
src/main/java/com/shop/controller/TestController.java
src/main/java/com/shop/controller/TempController.java
src/main/resources/templates/thymeleafEx/*

/uploads/*

src/main/resources/application-local.yml